# задаем кодировку по умолчанию
AddDefaultCharset utf-8
# разрешаем перенаправление
RewriteEngine On
# перенаправлем все запросы на публичную папку и записываем результат в переменную $1
RewriteRule (.*) public/$1